.primary-color{
    color: #091133;
}
.primary-btn{
    color: white;
    background-color: #091133 !important;
}

.contain {
    position: relative;
  
}

.contain::after {
    content: '';
    width: 100%;
    height: 60px; 
    position: absolute;
    top: 0; 
    left: 0%;
    background-color: #ffffff; /* Match the section background */
    border-bottom-left-radius: 50% 50%; /* Reverse the radius */
    border-bottom-right-radius: 50% 50%; /* Reverse the radius */
}
hr{
    border: none;
    border-top: 4px solid #CDD1D4;
}

.gray-icons img {
    filter: grayscale(100%);
}

.head-sec{
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position: top right, bottom right;
    
}

@media screen and (max-width:750px) {
    .head-sec{
        background-image: none;
        background-color: #F1F3FF;
    }
}